/* label {
    display: block;
    padding: 10px;
    margin-left: 10px;
  }
  input {
    display: block;
    padding: 10px;
    margin-left: 890px;
  } */
  /* #submit {
    margin-top: 5px;
    cursor: pointer;
  }
  
  thead,
  tbody,
  tr,
  td,
  th {
    width: 100px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
  }
  table {
    width: 500px;
    border: 1px solid;
    border-collapse: collapse;
  }
  button {
    margin: 2px;
    
  }
  .logli{
    text-decoration: none;
    text-transform: capitalize;

  }
  .input-container{
    margin-left: 785px;
    border: 1px solid gray;
    align-items: center;
    width: 350px;
    height: 340px;
    background-color: whitesmoke;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

  }
 .input-container1{
  margin-left: 250px;
  margin-bottom: 50px;
  margin-top: 20px;
  border: 1px solid gray;
  align-items: center;
  width: 300px;
  height: 330px;
  background-color: lightyellow;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

 }
  
 .input-container2{
  margin-left: 250px;
  margin-bottom: 50px;
  margin-top: 20px;
  border: 1px solid gray;
  align-items: center;
  width: 350px;
  height: 400px;
  background-color: lightyellow;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

 }
  */